
html {
    overflow-x: hidden;
  }

header {
    margin: auto;
    padding-bottom: 5%;
}

.headerh1 {
    text-align: center;
    color: lightseagreen;
    background: transparent;
    margin: 0px;
    text-shadow: 2px 2px 3px pink;
}

@media screen and (min-height: 600px;) {
    .headerImage {
        padding: 2em
    }
    .event {
        padding: 2em
    }
}


.headerImage {
    /* background-attachment: fixed; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-size: cover;
    background: transparent;
    margin: auto;
    max-width: 964px;
    z-index: -1;
    object-fit: cover;
    object-position: center top;
    max-width: 1440px;
    width: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    max-height: 80%;
    background-color: transparent;
}


body {
    -webkit-font-smoothing: antialiased;
    background-color:   black; 
    /* rgb(211, 43, 43) */
    /* column-count:  2; */   
}

.form {
    text-align: center;
    padding-block: 2em;

}

.details {
    text-align: center;
}
.nameOfEvent {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: lightblue;
    
}

.event {
    position: relative;
    margin-top: 200px;
}


.eventDate {
    color: white;
    text-align: center;
}

.eventTime {
    color: white;
    text-align: center;
}

html {
  overflow-x: hidden;
}

button:hover {
    background-color: lightgray;
    color: white;
  }