
h1 {
    text-align: center;
    color: lightblue;
    background: black;
    margin: auto;

}

h3 {
    text-align: left;
    
}

body {
    background-color: rgba(24, 81, 81, 0.389);
    /* column-count:  2; */
    
}

.event {
    position: relative;
}

